.trivia-game {
	background-color: rgb(201, 199, 233);
}

.trivia-question {
	/*border: 2px red solid;*/
/*	height: 500px;
*/	position: relative;
	font-family: sans-serif;
	height: 350px;
}

.question {
	font-size: 30px;
	color: white;
	/*height: auto;*/
	padding: 30px;
	font-weight: 700;
	background-color: rgb(40, 40, 45);

}

.show-timer {
	padding: 20px 0px;
	background-color: rgb(164, 181, 151);
	margin-bottom: 20px;
}

.timer {
	color: red;
	font-size: 30px;
	font-weight: 700;
}

.choices {
	background-color: rgb(24, 127, 142);
	box-shadow: 2px 2px 0px rgba(24, 127, 142, 0.3);
	margin: 10px 0px;
	padding: 10px;
	color: white;
	position: relative;
	top: 0px;
	left: 0px;
	height: 13%;
}

.choices:hover {
	box-shadow: 0px 0px 0px top: 2px;
	left: 2px;
}

.trivia-bottom {

	width: 100%;
	padding: 30px 0px;
	height: 60px;
	color: white;
	background-color: rgb(40, 40, 45);
}
