.trivia-question {
	border: 2px red solid;
	height: 500px;
}
.timer {
	color: red;
	font-size: 30px;
	font-weight: 700;
}
.show-timer {
	height: 70px;
	margin-top: 30px;
}
.choices {
	background-color: blue;
	margin: 5px;
}